/* -- Pagina Como */
.callout-info {
    padding: 20px;
    margin: 20px 20px ;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #5bc0de

    h4 {
        margin-top: 0;
        margin-bottom: 5px;
        color: #5bc0de;
        }
    
}